/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-Apr-2020, 12:20:24
    Author     : CLLIT
    Programmer : Jouhar Jaseem
*/

#example1 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}


#example3 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}

#example4 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}
#example5 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}
#example6 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}
#example7 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}

#example8 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}
#example9 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}

#example10 th {
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color: rgb(234, 233, 233);
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    background-color: rgb(51, 122, 183);
   
}